  <% @authors.each do |author| %>
    <% cache(author) do %>
    <div class="col-md-12 text-center">
      <div class="box">
        <div class="box-content">
          <h1 class="tag-title">I am <%= author.name %></h1>
          <hr/>
            <h5>Books by me:</h5>
            <% author.articles.each do |art| %>
              <% cache(art) do %>
                <%= content_tag :p do %>
                  <%= link_to art.name, articles_show_path(art) %>
                <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
